
.tbl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 150px;
  gap: 25px;
  background-color: rgb(209, 228, 240);
  color: rgb(153, 46, 46);
}

.tbl h1 {
  font-size: 22px;
  margin: 0px;
}

table {
  background-color: rgb(224, 237, 245);
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 10px;

}

td {
  width: calc(100%/12);
  padding: 10px 15px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 5px;
  text-align: center;
}

.header {
  font-size: 20px;
  font-weight: 600;
}

.btn
{
  display: flex;
  gap: 10px;
}

a{
  text-decoration: none;

}

