<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cube Game</title>
    <link rel="stylesheet" href="/task2/kukucube.css">
</head>
<body>
 
    <h1 id="heading">Name:Babaria Yash  Emp_id:24Dev013  Date:02-02-2024</h1>
    <h2 id="task">Task: Kuku Cube Game</h2>
    <div class="div">
        <label for="" id="label1">Score:</label><br>
        <label for="" id="label2">Timer:</label><br>
        <label for="" id="label3"></label>
    <table id="mytable" class="tbl">
        <tr>
            <td class="tdid">o</td>
            <td class="tdid">o</td>
        </tr>
        <tr>
            <td class="tdid">o</td>
            <td class="tdid">o</td>
        </tr>
    </table>
    </div>

<script src="/task2/kukucube.js"></script>
   
</body>
</html>


