<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/major.css">
</head>
<body>
    <h1 id="heading" >Name:- Babaria Yash Emp_id:- 24Dev013 </h1>
    <h2 id="task">Task:-CityState Grid</h2>
    <div id="statediv" >Select State: <select name="state" id="stateid" onchange="cityFun()"><option value="">Select</option></select></div>

    <div id="citydiv">Select City: <select name="city" id="city" ><option value="">Select</option></select> </div>
</body>
<script src="/task14/task14fun.js"></script>
</html>