<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task1/dynamictable.css">
    <title>Dynamic Table</title>
</head>
<body>
    <h1 id="heading" >Name:- Babaria Yash Emp_id:- 24Dev013 Date:-01/02/2024</h1>
    <h2 id="task">Task:-Dynamic Table</h2>
    <div class="div1">
    <input type="submit" name="addcol" id="addCol" value="+" >
    <input type="submit" name="delCol" id="delCol" value="-">
</div>
    <table id="mytable" >
        <tr>
            <td class="black">1</td>
            <td class="white">2</td>
        </tr>
        <tr>
            <td class="white">3</td>
            <td class="black">4</td>
        </tr>
    </table>
    <div class="div2">
    <input type="submit" name="addrow" id="addRow" value="+">
    <input type="submit" name="delrow" id="delRow" value="-">
</div>
    <script src="/task1/dynamictable.js"></script>
</body>
</html>