<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/task5/sorting.css">
    <link rel="stylesheet" href="/major.css">
    <title>Document</title>
</head>

<body>

    <h1 id="heading">Name:- Babaria Yash Emp_id:- 24Dev013 Date:-06/02/2024</h1>
    <h2 id="task">Task:-Sorting <h6 id="task">using bubble sort</h6>
        <p id="task">Number define using space</p>
    </h2>

    <div id="div1">
        <input type="text" name="" id="asctext">
        <input type="submit" name="ascsubmit" id="ascsubmit" class="submit" value="Ascending Sort"
            placeholder="Enter the Element List using space">
        <input type="submit" name="descsubmit" id="descsubmit" class="submit" value="Descending Sort">
        <input type="submit" name="reset" id="reset" class="submit" value="Reset">
    </div>
    <table id="mytable">
        <tr>
            <td id="id1" class="c1"></td>
        </tr>
        <tr>
            <td id="id2" class="c1"></td>
        </tr>
    </table>
    <script src="/task5/sorting.js">
      
    </script>
</body>
</html>