<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tictac/tictac.css">
    <link rel="stylesheet" href="/major.css">
    <title>Tic-Tac-Toe</title>
</head>
<body>

     <h1 id="heading">Name:Babaria Yash  Emp_id:24Dev013  Date:05-02-2024</h1>
     <h2 id="task">Task: Tic-Tac-Toe Game</h2>
    <table id="mytbl">
        <tr>
            <td id="1" class="cell"></td>
            <td id="2" class="cell"></td>
            <td id="3" class="cell"></td>
        </tr>
        <tr>
            <td id="4" class="cell"></td>
            <td id="5" class="cell"></td>
            <td id="6" class="cell"></td>
        </tr>
        <tr>
            <td id="7" class="cell"></td>
            <td id="8" class="cell"></td>
            <td id="9" class="cell"></td>
        </tr>
    </table>
   
    <script src="/tictac/tictac.js">    
     
</script>
</body>
</html>