.form-control {
    width: 50%;
}

.fm {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning {
    font-size: 18px;
    font-weight: 600;
}

.alert-danger {
    margin: 0px;
}

.tbl {
    display: flex;
    justify-content: center;
}

