/* body {
    background-color: antiquewhite;
}

#task {
    color: gray;
    text-align: center;
}

#heading {
    color: gray;
    font-size: 18px;
    text-align: center;
} */

#div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.submit {
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: brown;
    color: antiquewhite
}